body {
    background:#F2B705;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap:wrap;
}
.assignment {
    width: 21%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background: #D95204;
    border-radius: 5px;
    box-shadow: 5px 8px #8C2703;
}

.assignment img{
    width: 200px;
    border: 3px solid #6E8C03;
    margin-right: 20px;
    border-radius: 5px;
    display: block;
    margin: auto;
    
}

.assignment img:hover {
    box-shadow: 5px 5px #6E8C03;
}

h1{
    color:#8C2703;
    text-align:center;
}

h2{
    text-align:center;
}

a{
    text-decoration:none;
    color:white;
}

.assignment a:hover {
    color: #F2B705;
}
